<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Angular PWA App</mat-card-title>
    <mat-card-subtitle>Progressive Web Apps</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      More than just a buzzword, a Progressive Web App, or PWA, is a set of guidelines to utilize modern browser
      features in a way that creates a more app-like user experience.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Action One</button>
    <button mat-raised-button color="accent">Action Two</button>
    <button mat-raised-button color="warn">Action Three</button>
  </mat-card-actions>
</mat-card>